   
    header {
      text-align: center;
      background: url("images/banner.jpg");
      background-size: cover;
      color: white;
    }
    .nav {
      color: white;
    }
    h1 {
      font-size: 70px;
      color: #fae6ff;
    }
    img {
      margin: 40px 0px 0px 0px;
      border: 7px blue;
      border-radius: 20px;
    }
    ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    div{
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
    @media (max-width: 500px) {
      h1 {
        font-size: 36px;
        padding: 5px;
      }
      li {
        padding: 5px;
        display: block;
      }
    }
img {
    border-radius: 50%;
}
p {
    font-family: Serif;
    font-size: 20px;
}
body{
    background-color: #fae6ff;
}
<head>
<style>
/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: purple;
}

/* mouse over link */
a:hover {
    color: #80bfff;
}

/* selected link */
a:active {
    color: blue;
}
</style>
</head>


